@page "/app/employees/create"
<MudText Typo="Typo.h3">Create Employee</MudText>
<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="Request.Name" Label="Name" Required="true"></MudTextField>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="Request.LastName" Label="Last Name" Required="true"></MudTextField>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudNumericField T="int" @bind-Value="Request.AnnualLeaveRemaining" Label="Annual days left" Min="0"></MudNumericField>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudNumericField T="int" @bind-Value="Request.SickLeaveRemaining" Label="Sick days left" Min="0"></MudNumericField>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudNumericField T="int" @bind-Value="Request.FamRespLeaveRemaining" Label="Family responsibility days left" Min="0"></MudNumericField>
    </MudItem>

</MudGrid>
<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" OnClick="Save">Save</MudButton>
</div>